    <div class="credits text-center">
        <p>
            <a href="https://github.com/HarshGatchu">MEAN Stack User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://hharshpatel.wixsite.com/harshpatel">Harsh Patel Portfolio</a>
        </p>
    </div>
</body>
</html>